* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

}

#container{
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-rows: 100px 1fr;
}

header {
    background-color: rgb(0, 89, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

#content {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.sidebar {
    height: 100%;
    display: grid;
    grid-template-rows: 60px 2rem 1fr;
    row-gap: 20px;
    background-color: rgb(0, 102, 255);
}

.project-btn {
    margin-top: 20px;
    background-color: rgb(0, 110, 255);
    border: none;
}

.sidebar h2 {
    padding-left: 20px;
}

.project-name-btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%; 
}

.project-name-btn button {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 110, 255);
    border: none;
}

.project {
    display: grid;
    grid-template-rows: 80px 1fr;
    background-color: rgb(0, 162, 255);
    padding: 0 40px 40px;
    height: 100%;
}

.add-task {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: aqua;
}

.add-task:hover {
    transform: scale(1.05);
}

.project-heading {
    display: flex;
    align-items: center;
    gap: 80px;
}

.todos {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.todo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 10px;
    width: 300px;
    background-color: rgb(0, 140, 255);
    border-radius: 20px;
    height: min-content;
}

.todo>div {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

textarea,
input,
select {
    width: 60%;
}

.del-todo {
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 72, 0, 0.767);
}

.del-todo:hover {
    background-color: rgba(255, 0, 0, 0.61);
}